<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="./assets/img/favicon (1).png" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/styles.css">

    <title>Power Letters</title>
</head>

<body>

    <header class="header" id="header">
        
    </header>

    <!--==================== MAIN ====================-->


    <main class="main">
        <!--==================== DISCOUNT ====================-->


        <section class="discount section" id="discount">


            <div class="discount__container container grid">

                <div class="discount__data">

                    <h2 class="discount__title section__title">
                        Descuentos de hasta el 50%
                    </h2>


                    <p class="discount__description">
                        Aprovecha los días de descuento que tenemos para ti.
                        Compra libros de tus escritores favoritos, mientras
                        más compres, más descuentos tenemos para ti.
                    </p>

                    <a href="#" class="button">Ver más</a>

                </div>


                <div class="discount__images">

                    <img src="../../Resources/img/discount-book-1.png" alt="imgage" class="discount__img-1">
                    <img src="../../Resources/img/discount-book-2.png" alt="imgage" class="discount__img-2">

                </div>

            </div>


        </section>




        <!--==================== NEW BOOKS ====================-->



        <section class="new section" id="new">


            <h2 class="section__title">Nuevos libros</h2>

            <div class="new__container container">

                <div class="new__swiper swiper">

                    <div class="swiper-wrapper">

                        <a href="#" class="new__card  swiper-slide">

                            <img src="../../Resources/img/book-1.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-2.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>





                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-3.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>


                        </a>





                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-4.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-5.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-6.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-7.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>



                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-8.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>



                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-9.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>



                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-10.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                    </div>

                </div>



                <div class="new__swiper swiper">

                    <div class="swiper-wrapper">

                        <a href="#" class="new__card  swiper-slide">

                            <img src="../../Resources/img/book-10.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-9.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>





                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-8.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>


                        </a>





                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-7.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-6.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$8.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-5.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-4.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>



                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-3.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>



                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-2.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>



                        <a href="#" class="new__card swiper-slide">

                            <img src="../../Resources/img/book-1.png" alt="" class="new__img">

                            <div>

                                <h2 class="new__title">New Book</h2>

                                <div class="new__prices">
                                    <span class="new__discount">$7.99</span>
                                    <span class="new__price">$14.99</span>
                                </div>



                                <div class="new__stars">

                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>

                                </div>



                            </div>

                        </a>




                    </div>

                </div>

            </div>

        </section>

        <!--==================== JOIN ====================-->


        <section class="join section">

            <div class="join__container">

                <img src="../../Resources/img/join-bg.jpg" alt="image" class="join__bg">


                <div class="join__data container grid">

                    <h2 class="join__title section__title">
                        Suscribete para recibir <br>
                        las últimas actualizaciones

                    </h2>

                    <form action="" class="join__form">

                        <input type="email" placeholder="Enter Email" class="join__input">

                        <button type="submit" class="join__button button">Subscribete</button>

                    </form>

                </div>

            </div>


        </section>

        <footer class="footer" id="footer">


        </footer>

    </main>
    
    <script src="../../Resources/js/header.js"></script>
    <!--=============== SWIPER JS ===============-->
    <script src="../../Resources/js/swiper-bundle.min.js"></script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="../../Resources/js/scrollreveal.min.js"></script>
    <script src="../../Resources/js/main.js"></script>
    <script src="../../Resources/js/footer.js"></script>
    
</body>

</html>