<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Libro</title>
    <link rel="stylesheet" href="../../resources/css/styles.css">
    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/swiper-bundle.min.css">
</head>

<body>
    <header class="header" id="header">
        <!--Prueba -->
    </header>
    <main class="main">
        <section class="section">
            <div class="container">
                <div class="section__title">Detalle del Libro</div>
                <div class="book-detail">
                    <div class="book-detail__img-wrapper">
                        <img src="../../resources/img/book-1.png" alt="Portada del libro" class="book-detail__img"
                            id="ImagenDetalle">
                    </div>
                    <div class="book-detail__content" id="libros">
                        <h2 class="book-detail__title" id="tituloDetalle">Título del Libro</h2>
                        <p class="book-detail__author" id="autorDetalle">Autor del Libro</p>
                        <p class="book-detail__author" id="editorialDetalle">Editorial</p>
                        <label for="clasificacion" class="libro__label">Clasificación:</label>
                        <p class="book-detail__author" id="clasificacionDetalle">Clasificación</p>
                        <p class="book-detail__price" id="precioDetalle">$XX.XX</p>
                        <p class="book-detail__price">Existencias: <b id="existenciasProducto"></b></p>
                        <p class="book-detail__description" id="descripcionDetalle">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Quisque sit amet accumsan tortor. Integer vel libero nec erat
                            scelerisque suscipit.</p>
                        <div class="book-detail__buttons">
                            <a href="#" class="button">Comprar</a>
                            <a href="#" class="button">Añadir al Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../../Resources/js/header.js"></script>
    <!--=============== SWIPER JS ===============-->
    <script src="../../Resources/js/swiper-bundle.min.js"></script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="../../Resources/js/scrollreveal.min.js"></script>
    <script src="../../Resources/js/sweetalert.min.js"></script>
    <script src="../../Resources/js/main.js"></script>
    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/public/detalle.js"></script>
</body>

</html>