<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Libro</title>
    <link rel="stylesheet" href="../../resources/css/styles.css">
    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/swiper-bundle.min.css">

    <link rel="stylesheet" href="../../Resources/css/comentarios.css">
    
    <link rel="stylesheet" href="../../Resources/css/comentarios.css">
    
    <link rel="stylesheet" href="../../Resources/css/styles.css">
</head>

<body>
    <header class="header" id="header">
        <!--Prueba -->
    </header>
    <main class="main">
        <section class="section">
            <div class="container">
                <div class="section__title">Detalle del Libro</div>
                <div class="book-detail">
                    <div class="book-detail__img-wrapper">
                        <img src="../../resources/img/book-1.png" alt="Portada del libro" class="book-detail__img"
                            id="ImagenDetalle">
                    </div>
                    <div class="book-detail__content" id="libros">
                        <h2 class="book-detail__title" id="tituloDetalle">Título del Libro</h2>
                        <p class="book-detail__author" id="autorDetalle">Autor del Libro</p>
                        <p class="book-detail__author" id="editorialDetalle">Editorial</p>
                        <label for="clasificacion" class="libro__label">Clasificación:</label>
                        <p class="book-detail__author" id="clasificacionDetalle">Clasificación</p>
                        <p class="book-detail__price" id="precioDetalle">$XX.XX</p>
                        <p class="book-detail__price">Existencias: <b id="existenciasProducto"></b></p>
                        <p class="book-detail__description" id="descripcionDetalle">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Quisque sit amet accumsan tortor. Integer vel libero nec erat
                            scelerisque suscipit.</p>
                        <!-- Formulario para agregar el producto al carrito de compras -->
                        <form id="shoppingForm">
                            <!-- Campo oculto para asignar el id del producto -->
                            <input type="number" id="idLibro" name="idLibro" style="display: none;">
                            <div>
                                <input type="number" id="cantidadLibro" name="cantidadLibro" min="1"
                                    style="width: 100%; height: 30px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px; font-family: Arial, sans-serif;">
                            </div>
                            <div>
                                <br><br><br>
                                <button type="submit"
                                    style="background-color: #4CAF50; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
                                    <i class="bi bi-cart-plus-fill"></i> Comprar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

     <!--==================== APARTADO DE COMENTARIOS ====================-->
    <h2 class="comentT">Comentarios</h2>


    <br><br><br><br>
    <div class="comentarios">

        <div>
            <label for="titulo" class="libro__label"></label>
            <input type="text" name="titulo" id="titulo" placeholder="Agrega un comentario..." class="libro__input"
                required>
                <div class="botones-container">
                    <button class="comentario-button">Comentar</button>
                    <button class="cancelar-button">Cancelar</button>
                </div>


        </div>


    </div>


    <br>
     <!--==================== CARTAS DE COMENTARIOS ====================-->

    <main class="main">

        <!--==================== TESTIMONIAL ====================-->


        <section class="testimonial section" id="testimonial">

            <h2 class="section__title">
                Opiniones de Clientes
            </h2>

            <div class="testimonial__container container">

                <div class="testimonial__swiper swiper">

                    <div class="swiper-wrapper">

                        <article class="testimonial__card swiper-slide">

                            <img src="../../Resources/img/testimonial-perfil-1.png" alt="image" class="testimonial__img">

                            <h2 class="testimonial__title">Rial Loz</h2>
                            <p class="testimonial__description">

                                The best website to buy books, the purchase
                                is very easy to make and has great discounts.
                            </p>


                            <div class="testimonial__stars">

                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-fill"></i>
                            </div>

                        </article>


                        <article class="testimonial__card swiper-slide">

                            <img src="../../Resources/img/testimonial-perfil-2.png" alt="image" class="testimonial__img">

                            <h2 class="testimonial__title">Dan Raphel</h2>
                            <p class="testimonial__description">

                                The best website to buy books, the purchase
                                is very easy to make and has great discounts.
                            </p>


                            <div class="testimonial__stars">

                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>

                            </div>

                        </article>


                        <article class="testimonial__card swiper-slide">

                            <img src="../../Resources/img/testimonial-perfil-3.png" alt="image" class="testimonial__img">

                            <h2 class="testimonial__title">Prial Lopez</h2>
                            <p class="testimonial__description">

                                The best website to buy books, the purchase
                                is very easy to make and has great discounts.
                            </p>


                            <div class="testimonial__stars">

                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-fill"></i>
                            </div>

                        </article>


                        <article class="testimonial__card swiper-slide">

                            <img src="../../Resources/img/testimonial-perfil-4.png" alt="image" class="testimonial__img">

                            <h2 class="testimonial__title">Alex Rodes</h2>
                            <p class="testimonial__description">

                                The best website to buy books, the purchase
                                is very easy to make and has great discounts.
                            </p>


                            <div class="testimonial__stars">

                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-fill"></i>
                            </div>

                        </article>
                    </div>
                </div>

            </div>



    <br><br><br><br><br><br><br><br><br>


    <script src="../../Resources/js/header.js"></script>
    <!--=============== SWIPER JS ===============-->
    <script src="../../Resources/js/swiper-bundle.min.js"></script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="../../Resources/js/scrollreveal.min.js"></script>
    <script src="../../Resources/js/main.js"></script>
    <script src="../../Resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/public/detalle.js"></script>
</body>

</html>