<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/swiper-bundle.min.css">


    <link rel="stylesheet" href="../../resources/css/descuento.css">

    <title>Power Letters</title>
</head>

<body>

    
    <link href="https://fonts.googleapis.com/css2?
    family=Poppins:wght@400;500&display=swap" rel="stylesheet" />

    <div class="wrapper">
        <div id="search-container">
            <input type="search" id="search-input" placeholder="Busca tus libros...">

            <button id="search">Buscar</button>
        </div>
        <div id="buttons">
            <button class="button-value">Genero</button>
            <button class="button-value">Clasificación</button>
            <button class="button-value">Editorial</button>
            <button class="button-value">Autor</button>
        </div>
    </div>
</body>
</html>