<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="./assets/img/favicon (1).png" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/styles.css">

    <title>Power Letters</title>
</head>

<body>

    <div class="row" id="id_libro"></div>


    <main class="main">

        <!--==================== FEATURED ====================-->


        <section class="featured section" id="featured">


            <section class="featired section" id="featured">

                <h2 class="section__title">
                    Libros Recomendados
                </h2>

                <div class="featured__container container">

                    <div class="featured__swiper swiper">


                        <div class="swiper-wrapper">


                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-1.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>

                            </article>



                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-2.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>


                            </article>



                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-3.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>

                            </article>



                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-4.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>

                            </article>



                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-5.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>

                            </article>



                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-6.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>

                            </article>



                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-7.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>

                            </article>



                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-8.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>

                            </article>



                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-9.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>

                            </article>



                            <article class="featured__card  swiper-slide">

                                <img src="../../Resources/img/book-10.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Book</h2>

                                <div class="featured__prices">

                                    <span class="featured__discount">$11.99</span>

                                    <span class="featured__price">$19.99</span>

                                </div>


                                <buttton class="button">Add To Cart</buttton>



                                <div class="featured__actions">

                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>

                                </div>

                            </article>



                        </div>

                        <!-- If we need navigation buttons -->


                        <div class="swiper-button-prev">
                            <i class="ri-arrow-drop-left-line"></i>
                        </div>

                        <div class="swiper-button-next">
                            <i class="ri-arrow-drop-right-line"></i>
                        </div>


                    </div>
                </div>

            </section>


        </section>

        <footer class="footer" id="footer">


        </footer>

    </main>


    <script src="../../Resources/js/header.js"></script>
    <!--=============== SWIPER JS ===============-->
    <script src="../../Resources/js/swiper-bundle.min.js"></script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="../../Resources/js/scrollreveal.min.js"></script>
    <script src="../../Resources/js/main.js"></script>
    <script src="../../Resources/js/footer.js"></script>

</body>

</html>