<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/styles.css">

    <link rel="stylesheet" href="../../resources/css/descuento.css">

    <title>Power Letters</title>
</head>

<body>
    
    <br><br><br><br><br>
    <link href="https://fonts.googleapis.com/css2?
    family=Poppins:wght@400;500&display=swap" rel="stylesheet" />

    <div class="wrapper">
        <div id="search-container">
            <input type="search" id="search-input" placeholder="Busca tus libros...">

            <button id="search">Buscar</button>
        </div>
        <div id="buttons">
            <button class="button-value">Genero</button>
            <button class="button-value">Clasificación</button>
            <button class="button-value">Editorial</button>
            <button class="button-value">Autor</button>
        </div>
    </div>

    <h2 class="section__title">
        Libros Recomendados
    </h2>
    <br><br><br>
    <div class="featured__container container">
        <div class="featured__swiper swiper">
            <div class="swiper-wrapper" id="libros"></div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev">
            <i class="ri-arrow-drop-left-line"></i>
        </div>

        <div class="swiper-button-next">
            <i class="ri-arrow-drop-right-line"></i>
        </div>
    </div>


    <!--=============== SWIPER JS ===============-->
    <script src="../../Resources/js/swiper-bundle.min.js"></script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="../../Resources/js/scrollreveal.min.js"></script>
    <script src="../../Resources/js/header.js"></script>

    <script src="../../Resources/js/footer.js"></script>
    <script src="../../Resources/js/main.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/public/libros.js"></script>
    <script src="../../controllers/public/descuento.js"></script>

</body>

</html>