<!DOCTYPE html>
<html lang="es">

<head>
    <title>Inicio de sesión</title>
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/styles_login_p.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/custom.css">
</head>

<body>
    <div class="login show-login" id="loginOverlay">
        <div class="login__form login-container">
            <button class="login__close close-button" onclick="window.location.href='index.html'">&times;</button>
            <h2 class="login__title">Log In</h2>
            <form id="sessionForm">
                <div class="login__group form-group">
                    <label for="correo_usuario" class="login__label">Correo</label>
                    <input type="email" id="correo_usuario" name="correo_usuario" class="login__input form-control" required>
                </div>
                <div class="login__group form-group">
                    <label for="clave_usuario" class="login__label">Contraseña</label>
                    <input type="password" id="clave_usuario" name="clave_usuario" class="login__input form-control" required>
                </div>
                <br>
                <button type="submit" class="login__button btn btn-primary btn-block">Log In</button>
            </form>
            <div class="login-links">
                <a href="registro_c.html" class="login__signup">¿No tienes una cuenta? Regístrate acá</a>
                <a href="#" class="login__forget">¿No encuentras tu contraseña?</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/login.js"></script>
</body>

</html>
